*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'GFS Didot', serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden; /* Para que el contenedor no se desborde */
    padding: 60px 0; /* Para que el contenido no se pegue a los bordes */
}
/* Header */

header{
    height: 100vh;
    background: #bc4e9c;
    background-image: linear-gradient(to top, hsla(179, 60%, 33%, 0.459), hsla(317, 45%, 52%, 0.664), 100%), url(../images/sunset.jpg);
    background-size: cover; /* Para que la imagen se ajuste al tamaño del contenedor */
    background-position: center; /* Para que la imagen se centre */
    background-attachment: fixed; /* Para que la imagen no se mueva */
    background-repeat: no-repeat; /* Para que no se repita la imagen */
    overflow: hidden;
    padding: 20px 0;
}

.contenedor head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.header__img{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-navigation{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vm;
    height: 100%;
    background-image: linear-gradient(135deg, #bc4e9c, #f80759);
    display: flex;
    justify-content: space-evenly; /* Para que los elementos se distribuyan equitativamente */
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translateX(110%);
}

/* Para que el menu se despliegue */
.menu-navigation.active{
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.menu-navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.titulo {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(47, 43, 43);
}

.copy{
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    color: rgb(47, 43, 43);
}

.subtitulo{
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(47, 43, 43);
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}


.n-services{
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 7px;
    color:black;
}

.number{
    display: inline-block;  /* Para que el elemento se comporte como un bloque */
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    width: 30%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Para que la imagen tenga sombra */
    cursor: pointer; /* Para que el cursor se transforme en una mano */
}

.imagen-light{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out; /* Para que la transición sea más suave */
}

.imagen-light img{
    width: 60%;
    border-radius: 20%;
}

.show{
    transform: translate(0);
}
.agregar-imagen{
    width: 60%;
    border-radius: 20%;
    transform: scale(0); /* Para que la imagen no se vea */
    transition: all 0.3s ease-in-out; /* Para que la transición sea más suave */
}
.showImage{
    transform: scale(1); /* Para que la imagen se agrande */
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
}